*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse stuff
*.iml

# Apple directory metadata
*.DS_Store

# Server data
server/datastore/*
server/usertable.bin
server/usertable.bin.bak
server/logPassfile

# Extraneous .gitignores
server/.gitignore
client/.gitignore
common/.gitignore

# bins
server/bin/*
client/bin/*
common/bin/*

# meta
.idea/*
.metadata/*
